{% extends 'DigitalwertMonodiAdminBundle::base.html.twig' %}

{% block headline %}Nutzerverwaltung{% endblock headline %}


{% block content_content %}

    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                {{ flashMessage|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-striped table-bordered records_list">
        <caption>Nutzerübersicht</caption>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>Lastlogin</th>
                <th>Locked</th>
                <th>Expired</th>
                {#
                <th>Expiresat</th>                
                <th>Passwordrequestedat</th>
                <th>Credentialsexpired</th>
                <th>Credentialsexpireat</th>
                #}
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {{ include('DigitalwertMonodiAdminBundle:Users:listItem.html.twig', {'user': entity}) }}
        {% endfor %}
        </tbody>
    </table>

    <div class="btn-group">
        <a class="btn btn-success" href="{{ path('admin_users_new') }}">
            <i class="icon-file icon"></i>Neuen Nutzer erstellen
        </a>
    </div>
{% endblock content_content %}
